<h3>Nuevo registro</h3>
<%= form_for @product, url: products_path(@product) do |form| %>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :code%>
            <%= form.text_field :code, class:"form-control"%>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :name%>
            <%= form.text_field :name, class:"form-control"%>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :price %>
            <%= form.text_field :price, class:"form-control"%>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :category_id %>
            <%= form.select :category_id, Category.all.collect{|c| [c.name, c.id]}, 
                {:include_blank => "--Seleccione--"},
                {class: "form-control"} %>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :comments %>
            <%= form.text_area :comments, :rows => 3, class:"form-control"%>
        </div>
    </div>    

    <%= form.submit "Grabar", class: "btn btn-success"%>
<% end %>